# @package _global_

# MaxViT-Tiny Dataset Configuration
# Fixed resolution: 768x768 (MaxViT architecture constraint)

dataset_base_path: "/data/ephemeral/home/data/datasets/"

datasets:
  train_dataset:
    _target_: ${dataset_path}.OCRDataset
    image_path: ${dataset_base_path}images/all
    annotation_path: ${dataset_base_path}jsons/train.json
    transform: ${transforms.train_transform}
  val_dataset:
    _target_: ${dataset_path}.OCRDataset
    image_path: ${dataset_base_path}images/all
    annotation_path: ${dataset_base_path}jsons/val.json
    transform: ${transforms.val_transform}
  test_dataset:
    _target_: ${dataset_path}.OCRDataset
    image_path: ${dataset_base_path}images/all
    annotation_path: ${dataset_base_path}jsons/val.json
    transform: ${transforms.test_transform}
  predict_dataset:
    _target_: ${dataset_path}.OCRDataset
    image_path: ${dataset_base_path}images/test
    annotation_path: null
    transform: ${transforms.test_transform}

transforms:
  train_transform:
    _target_: ${dataset_path}.DBTransforms
    _convert_: all
    transforms:
      # Fixed resolution: 768x768
      - _target_: albumentations.LongestMaxSize
        max_size: 768
        p: 1.0
      - _target_: albumentations.PadIfNeeded
        min_width: 768
        min_height: 768
        border_mode: 0
        p: 1.0
      # Geometric augmentation
      - _target_: albumentations.Rotate
        limit: 12
        border_mode: 0
        p: 0.6
      - _target_: albumentations.ShiftScaleRotate
        shift_limit: 0.06
        scale_limit: 0.12
        rotate_limit: 6
        border_mode: 0
        p: 0.5
      # Color augmentation
      - _target_: albumentations.RandomBrightnessContrast
        brightness_limit: 0.1
        contrast_limit: 0.1
        p: 0.5
      - _target_: albumentations.HueSaturationValue
        hue_shift_limit: 10
        sat_shift_limit: 15
        val_shift_limit: 10
        p: 0.5
      # Noise & blur
      - _target_: albumentations.GaussNoise
        p: 0.2
      - _target_: albumentations.GaussianBlur
        blur_limit: 3
        p: 0.2
      # Normalization
      - _target_: albumentations.Normalize
        mean: [0.485, 0.456, 0.406]
        std: [0.229, 0.224, 0.225]
        p: 1.0
    keypoint_params:
      _target_: albumentations.KeypointParams
      format: 'xy'
      remove_invisible: True

  val_transform:
    _target_: ${dataset_path}.DBTransforms
    transforms:
      # Fixed resolution: 768x768
      - _target_: albumentations.LongestMaxSize
        max_size: 768
        p: 1.0
      - _target_: albumentations.PadIfNeeded
        min_width: 768
        min_height: 768
        border_mode: 0
        p: 1.0
      - _target_: albumentations.Normalize
        mean: [0.485, 0.456, 0.406]
        std: [0.229, 0.224, 0.225]
    keypoint_params:
      _target_: albumentations.KeypointParams
      format: 'xy'
      remove_invisible: True

  test_transform:
    _target_: ${dataset_path}.DBTransforms
    transforms:
      # Fixed resolution: 768x768
      - _target_: albumentations.LongestMaxSize
        max_size: 768
        p: 1.0
      - _target_: albumentations.PadIfNeeded
        min_width: 768
        min_height: 768
        border_mode: 0
        p: 1.0
      - _target_: albumentations.Normalize
        mean: [0.485, 0.456, 0.406]
        std: [0.229, 0.224, 0.225]
    keypoint_params:
      _target_: albumentations.KeypointParams
      format: 'xy'
      remove_invisible: True

dataloaders:
  train_dataloader:
    batch_size: 4
    shuffle: True
    num_workers: 4
  val_dataloader:
    batch_size: 4
    shuffle: False
    num_workers: 4
  test_dataloader:
    batch_size: 4
    shuffle: False
    num_workers: 4
  predict_dataloader:
    batch_size: 1
    shuffle: False
    num_workers: 4

collate_fn:
  _target_: ${dataset_path}.DBCollateFN
  shrink_ratio: 0.4
  thresh_min: 0.3
  thresh_max: 0.7
